@charset "UTF-8";

:root{
    --primary-color: #5f2c82;
    --secondary-color: #49a09d;
    --tertiary-color: #2f6664;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    /* Configurações para tablet */

    body{
        background-image: linear-gradient(to top, var(--secondary-color), var(--primary-color));
    }

    section.flex-container{
        display: flex;
        flex-flow: row nowrap;
        height: 35vh;
        width: 90vw;
    }

    section.flex-container > div#image{
        width: 30%;
        height: 100%;
    }

    section.flex-container > div#form{
        width: 70%;
        height: 100%;
    }

}

@media screen and (min-width: 992px){
    /* Configurações para desktop */
    
    body{
        background-image: linear-gradient(to top, var(--secondary-color), var(--primary-color));
    }

    section.flex-container{
        display: flex;
        flex-flow: row-reverse nowrap;
        width: 990px;
    }

    section.flex-container > div#image{
        width: 50%;
        height: 100%;
    }

    section.flex-container > div#form{
        width: 50%;
        height: 100%;
    }

    div#form > h1{
        font-size: 2em;
    }

    div#form > p{
        font-size: 1.2em;
    }
}